@import "tailwindcss";
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f9fafb; /* Tailwind's bg-gray-50 */
}
body {
  @apply text-black bg-gray-100;
}